body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
body i {
  color: red;
}
.clickable {
  cursor: pointer;
  width: 400px;
  text-align: center;
}
.fa-sort {
  color: black;
  margin-left: 5px;
}
.col-3 {
  margin-top: 53px;
}

table tr,
th,
td {
  border: 1px solid rgb(138, 138, 138);
}
.table thead th {
  border: 1px solid rgb(138, 138, 138) !important;
}
.list-group-item {
  border: 1px solid rgb(138, 138, 138) !important;
}

.table td {
  text-align: center;
}

.notFound {
  margin: 150px auto;
  width: 90%;
  height: 400px;
  background-image: url(https://www.pngitem.com/pimgs/m/208-2085926_sorry-transparent-background-png-transparent-sorry-png-png.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f7f7f7;
}
.notFound h1 {
  font-size: 100px;
  margin-top: 30px;
}
.notFound h1,
h3,
h4 {
  text-align: center;
  color: #5b3b1b;
}
.text-notfound {
  float: right;
  width: calc(100% - 500px);

  height: 100%;
}
.notFound a {
  color: orange;
}
.notFound a:hover {
  border-bottom: 1px solid black;
  padding-bottom: 3px;
  text-decoration: none;
  color: orange;
}
